<div class="assistant-container">
  <div *ngFor="let message of getDialogue(); let last = last">

    <div style="white-space:pre-wrap" *ngIf="message.role === 'User'; else assistantMessage" class="user-message">
      <p class="user-role">{{ message.role }}:</p>
      <p>{{ message.content }}</p>
    </div>

    <ng-template #assistantMessage>
      <div style="white-space:pre-wrap" class="assistant-message">
        <p class="assistant-role">{{ message.role }}:</p>
        <p>{{ message.content }}</p>
      </div>
    </ng-template>
    <div #lastMessage *ngIf="last"></div>
  </div>
</div>

<div class="input-container">
  <input type="text" [(ngModel)]="userMessage" (keyup.enter)="send(); userMessage = ''">
  <!-- <div class="button-container"> -->
  <button class="btn btn-primary" (click)="send(); userMessage = ''"><i class="bi bi-send"></i></button>
  <!-- </div> -->
</div>
