.assistant-header {
  display: flex;
  align-items: center;
  margin: 0.5rem;
}

.assistant-container {
  color: white;
  margin: 0.5rem;
  border-radius: 7px;
  border-width: 3px;
  border-style: double;
  border-color: white;
  padding: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
  min-height: 5rem;
  max-height: calc(100vh - 25vh);
  overflow-y: auto;
}


.user-role {
  color: red;
  padding: 0rem;
}

.assistant-role {
  color: purple;
  padding: 0rem;
}

p {
  margin: 0.5rem;
}

.input-container {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem;
  align-items: center;
}

.btn {
  background-color: red;
  border-color: red;
  margin-left: 0.5rem;
}

input {
  color: white;
  background-color: rgba(0, 0, 0, 0.6) !important;
  border-radius: 7px;
  border-width: 3px;
  border-style: double;
  border-color: white;
  padding: 0.2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  font-size: 1rem;
  /* margin-bottom: 0.5rem; */
}

input:focus {
  outline: none;
  box-shadow: 0 0 10px white;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
