<div class="navbar-wrapper">
   <a class="navbar-brand" routerLink="/"><i class="bi bi-house"></i> Aegwynn</a>
   <div class="navigation">
      <app-nav></app-nav>
   </div>
   <div class="button-container">
      <a role="button" (click)="toggleDropdown()">
         <span class="bi bi-gear-fill"></span>
      </a>
   </div>
</div>

<div id="userDropdown" *ngIf="showDropdown">
   <div>{{ username || 'guest' }}</div>
   <div *ngIf="isAuthenticated; else notAuthenticated"><a role="button" (click)="logout()">Logout</a></div>
   <ng-template #notAuthenticated>
      <div><a role="button" (click)="login()">Sign In</a></div>
   </ng-template>
</div>

