.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url('../../assets/navbar.jpg');
  color: white;
  padding: 10px 20px;
}

a {
  font-size: 1.2rem;
  text-decoration: none;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: red;
  text-decoration: none;
}

.button-container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.caret-up {
  transform: rotate(180deg);
}

