.agenda-item {
  color: white;
  margin: 0.5rem;
  border-radius: 7px;
  border-width: 3px;
  border-style: double;
  border-color: white;
  padding: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.6);
}

.header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.course {
  font-style: italic;
  font-size: 1.1rem;
  margin: 0;
}

p {
  font-size: 0.9rem;
}
