input {
  /* color: white; */
  background-color: rgba(0, 0, 0, 0.6) !important;
  border-radius: 7px;
  border-width: 3px;
  border-style: double;
  border-color: white;
  padding: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
input:-internal-autofill-selected {
  background-color: rgba(0, 0, 0, 0.6) !important;
  color: white !important;
}

input:focus {
  outline: none;
  box-shadow: 0 0 10px white;  /* This will give a glowing effect around the input when it's focused */
}

input::placeholder {
  color: rgba(255, 255, 255, 0.7);  /* Lighter white color for the placeholder text */
}

.auth-button {
  border: 1px solid white;
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 0.5rem;  /* Optional: Add some spacing above the button */
}

.auth-button:hover {
  background-color: rgba(0, 0, 0, 0.8);  /* Slightly darker background on hover */
}


