<div class="new-item-container">
  <form class="new-item-form" (ngSubmit)="onSubmit(f)" #f="ngForm">

    <div class="course-and-due-date">

      <div class="course-input-container">
        <label for="course">Course</label>
        <!-- <div *ngIf="!addNewCourse; else newCourseInput"> -->
        <div *ngIf="!addNewCourse; else newCourseInput">
          <div class="course-list-dropdown" (click)="toggleDropdown()">

            {{ selectedCourse || 'Choose a course' }} <i *ngIf="!selectedCourse" class="bi bi-caret-down"></i>
          </div>
          <input type="hidden" name="course" [(ngModel)]="selectedCourse">



          <div *ngIf="dropdownOpen" class="course-list">
            <div *ngFor="let course of courses" class="course-item" (click)="onCourseSelected(course)">
              <span>{{ course }}</span>
              <button (click)="onRemoveCourse(course); $event.stopPropagation();">x</button>
            </div>
            <div class="course-item" (click)="onAddCourse()">Add New</div>
          </div>
        </div>

        <!-- <div class="course-input-container"> -->
        <!-- <label for="course">Course</label> -->
        <!-- <div *ngIf="!addNewCourse; else newCourseInput">
          <select id="course" name="course" [(ngModel)]="selectedCourse" (change)="onCourseChange()">
            <option *ngFor="let course of courses" [value]="course">{{ course }}
              <button class="remove-course-button" (click)="onRemoveCourse(course)">Remove</button>
            </option>
            <option value="addNew">Add New</option>
          </select>
        </div> -->
        <ng-template #newCourseInput>
          <div>
            <input type="text" name="newCourse" placeholder="Enter new course" [(ngModel)]="newCourse">
            <span class="close-icon" (click)="resetCourseInput()">x</span>
          </div>
        </ng-template>
        <!-- <input type="text" id="course" name="course" ngModel> -->
      </div>

      <div class="due-date-input-container">
        <label for="due_date">Due Date</label>
        <input type="date" id="due_date" name="due_date" ngModel required>
      </div>

    </div>


    <div class="assignment-input-container">
      <label for="assignment">Assignment</label>
      <textarea id="assignment" name="assignment" ngModel required></textarea>
    </div>

    <div class="new-item-button-container">
      <button class="btn btn-success" type="submit" [disabled]="!f.valid">{{ editMode ? 'Update' : 'Add'
        }}</button>
      <!-- <button class="btn btn-danger" type="button" (click)="onCancel()" *ngIf="editMode">Delete</button> -->
      <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
      <button class="btn btn-danger" type="button" (click)="onCancel()">Cancel</button>
    </div>

  </form>
</div>
