<div class="d-flex justify-content-center align-items-center">
   <div class="container-fluid">
      <div class="text-center">
         <a class="navbar-brand" routerLink="/">Aegwynn</a>
      </div>

      <ul class="nav nav-tabs">
         <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard">Dashboard</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" routerLink="/assistant">Assistant</a>
         </li>
         <!-- <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
         </li> -->
      </ul>
   </div>
</div>