<div *ngIf="showCurrent; else showCompleted">
  <app-agenda-item *ngFor="let agendaItem of agendaItems; let i = index" [showCurrent]="showCurrent"
    [agendaItem]="agendaItem" [index]="i" (toggleCompletion)="toggleItemCompletion(i)"
    (deleteItem)="deleteAgendaItem(i)"></app-agenda-item>
</div>

<ng-template #showCompleted>
  <app-agenda-item *ngFor="let completedItem of completedItems; let i = index" [showCurrent]="showCurrent"
    [agendaItem]="completedItem" [index]="i" (toggleCompletion)="toggleItemCompletion(i)"
    (deleteItem)="deleteAgendaItem(i)"></app-agenda-item>
</ng-template>
