<div class="agenda-container">
  <div class="agenda-header">
    <div class="button-container">
      <button (click)="onAddAgendaItem()">
        <i class="bi-plus-lg"></i>
      </button>
      <button (click)="toggleDisplay()">
        {{ displayCompleted ? 'Show Agenda' : 'Show Completed' }}
      </button>
    </div>
  </div>
  <div *ngIf="!displayCompleted; else showCompleted">
    <app-agenda-item *ngFor="let agendaItem of agendaItems; let i = index" [displayCompleted]="displayCompleted"
      [agendaItem]="agendaItem" [index]="i" (toggleCompletion)="toggleItemCompletion(i)"
      (deleteItem)="deleteAgendaItem(i)"></app-agenda-item>
  </div>

  <ng-template #showCompleted>
    <app-agenda-item *ngFor="let completedItem of completedItems; let i = index" [displayCompleted]="displayCompleted"
      [agendaItem]="completedItem" [index]="i" (toggleCompletion)="toggleItemCompletion(i)"
      (deleteItem)="deleteAgendaItem(i)"></app-agenda-item>
  </ng-template>
</div>
