<router-outlet></router-outlet>
<div class="agenda-container">
  <div class="agenda-header">
    <div class="agenda-title">
      {{ showCurrent ? 'Current' : 'Completed'}}
    </div>
    <div class="button-container">
      <button class="add-new-btn" (click)="onAddAgendaItem()">
        <i class="bi-plus-lg"></i>
      </button>
      <button class="display-btn" (click)="toggleDisplay()">
        {{ !showCurrent ? 'Show Current' : 'Show Completed' }}
      </button>
    </div>
  </div>
  <app-agenda-list></app-agenda-list>
</div>
