.agenda-item {
  color: white;
  margin: 0.5rem;
  border-radius: 7px;
  border-width: 3px;
  border-style: double;
  border-color: white;
  padding: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.course {
  font-style: italic;
  font-size: 1.1rem;
  margin: 0;
}

p {
  font-size: 0.9rem;
}

.mark-complete-btn {
  border: 1px solid white;
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  position: absolute;
  top: 2px;
  right: 2px;
  margin-left: auto;
}

.remove-btn {
  background-color: maroon;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  position: absolute;
  bottom: 2px;
  right: 0px;
}

.edit-btn {
  background-color: navy;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  position: absolute;
  bottom: 2px;
  right: 45px;
}

.mark-complete-btn:hover,
.remove-btn:hover,
.edit-btn:hover {
  box-shadow: 0 0 10px white;
}
